@import url("./tokens.css");
@import url("./reset.css");
@import url("./typography.css");

body {
  background-color: var(--color-background);
}

::selection {
  color: var(--color-text-primary);
  background-color: var(--color-primary-soft);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}
